USE [master]
GO
/****** Object:  Database [final_capstone]    Script Date: 5/4/2023 4:47:41 PM ******/
CREATE DATABASE [final_capstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'final_capstone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\final_capstone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'final_capstone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\final_capstone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [final_capstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [final_capstone]
GO
/****** Object:  Table [dbo].[activeLot]    Script Date: 5/4/2023 4:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activeLot](
	[parkingSpotId] [int] NOT NULL,
	[ticketNumber] [int] NULL,
	[needsPickedUp] [bit] NULL,
 CONSTRAINT [PK_activeLot] PRIMARY KEY CLUSTERED 
(
	[parkingSpotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 5/4/2023 4:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[licensePlate] [nvarchar](7) NOT NULL,
	[make] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[vin] [nvarchar](17) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_cars] PRIMARY KEY CLUSTERED 
(
	[licensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 5/4/2023 4:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customerId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[phoneNumber] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[owners_cars]    Script Date: 5/4/2023 4:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[owners_cars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NOT NULL,
	[licensePlate] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_owners_cars] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 5/4/2023 4:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[ticketNumber] [int] IDENTITY(1,1) NOT NULL,
	[amountPaid] [float] NOT NULL,
	[owner_carsId] [int] NOT NULL,
	[checkIn] [datetime] NOT NULL,
	[checkOut] [datetime] NULL,
	[valetDroppingOff] [int] NOT NULL,
	[valetPickingUp] [int] NULL,
 CONSTRAINT [PK_transactions] PRIMARY KEY CLUSTERED 
(
	[ticketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/4/2023 4:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](200) NOT NULL,
	[salt] [varchar](200) NOT NULL,
	[user_role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[activeLot] ([parkingSpotId], [ticketNumber], [needsPickedUp]) VALUES (1, NULL, NULL)
INSERT [dbo].[activeLot] ([parkingSpotId], [ticketNumber], [needsPickedUp]) VALUES (2, NULL, NULL)
INSERT [dbo].[activeLot] ([parkingSpotId], [ticketNumber], [needsPickedUp]) VALUES (3, NULL, NULL)
GO
INSERT [dbo].[cars] ([licensePlate], [make], [model], [vin], [color]) VALUES (N'1234567', N'Chevy', N'C-10', N'123456789', N'Metallic Blue')
INSERT [dbo].[cars] ([licensePlate], [make], [model], [vin], [color]) VALUES (N'abc1234', N'honda', N'waterbottle', N'12345678901234567', N'black')
INSERT [dbo].[cars] ([licensePlate], [make], [model], [vin], [color]) VALUES (N'asd8888', N'toyota', N'corolla', N'asdfasdfasdfasdfa', N'red')
GO
SET IDENTITY_INSERT [dbo].[owners_cars] ON 

INSERT [dbo].[owners_cars] ([id], [customerId], [licensePlate]) VALUES (1, 1, N'1234567')
SET IDENTITY_INSERT [dbo].[owners_cars] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role]) VALUES (1, N'user', N'Jg45HuwT7PZkfuKTz6IB90CtWY4=', N'LHxP4Xh7bN0=', N'user')
INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role]) VALUES (2, N'admin', N'YhyGVQ+Ch69n4JMBncM4lNF/i9s=', N'Ar/aB2thQTI=', N'admin')
INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role]) VALUES (5, N'new_user', N'hashyhash', N'salty', N'user')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[activeLot]  WITH CHECK ADD  CONSTRAINT [FK_activeLot_transactions] FOREIGN KEY([ticketNumber])
REFERENCES [dbo].[transactions] ([ticketNumber])
GO
ALTER TABLE [dbo].[activeLot] CHECK CONSTRAINT [FK_activeLot_transactions]
GO
ALTER TABLE [dbo].[owners_cars]  WITH CHECK ADD  CONSTRAINT [FK_owners_cars_customers] FOREIGN KEY([licensePlate])
REFERENCES [dbo].[cars] ([licensePlate])
GO
ALTER TABLE [dbo].[owners_cars] CHECK CONSTRAINT [FK_owners_cars_customers]
GO
ALTER TABLE [dbo].[owners_cars]  WITH CHECK ADD  CONSTRAINT [FK_owners_cars_customers1] FOREIGN KEY([customerId])
REFERENCES [dbo].[customers] ([customerId])
GO
ALTER TABLE [dbo].[owners_cars] CHECK CONSTRAINT [FK_owners_cars_customers1]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_owners_cars] FOREIGN KEY([owner_carsId])
REFERENCES [dbo].[owners_cars] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_owners_cars]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_users] FOREIGN KEY([valetDroppingOff])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_users]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_users1] FOREIGN KEY([valetPickingUp])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_users1]
GO
USE [master]
GO
